
.notification {
    text-align: center;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #bd781f;
}



@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(330%);
    }
}