.section {
    width: 500px;
    margin: 0 auto 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    margin-bottom: 10px;
}


.section__title {
    border-right: solid 3px rgb(245, 245, 244);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: rgba(14, 226, 14, 0.7);
}



/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 322px;
    }
}

/* cursor animations */

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0, 255, 0, .75);
    }

    to {
        border-right-color: transparent;
    }
}